@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #8f90a8;
    overflow: hidden;
}
.background .list-group-item {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background .list-group-item:nth-child(0) {
    left: 60%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 1s;
}
.background .list-group-item:nth-child(1) {
    left: 43%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 3s;
}
.background .list-group-item:nth-child(2) {
    left: 82%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 10s;
}
.background .list-group-item:nth-child(3) {
    left: 41%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 13s;
}
.background .list-group-item:nth-child(4) {
    left: 17%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 8s;
}
.background .list-group-item:nth-child(5) {
    left: 66%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 16s;
}
.background .list-group-item:nth-child(6) {
    left: 64%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 29s;
}
.background .list-group-item:nth-child(7) {
    left: 43%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 8s;
}
.background .list-group-item:nth-child(8) {
    left: 71%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 12s;
}
.background .list-group-item:nth-child(9) {
    left: 86%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 31s;
}