.footer {
  background-color: #293E44;
  padding: 5em;
}

.footer .col-md-4 {
  width: 33%;
}

.footer-terminos {
  padding-top: 4%;
}

.copyright {
  margin-top: 1%!important;
  padding-top: 0px!important;
}