.nav-link {
  font-family: "Petrona-Regular";
  color: #293E44;
  font-size: 1.2rem;
  background-color: transparent;
}

.nav-link:hover {
  color: #528796;
  background-color: transparent;
}

.nav-link.active {
  color: #528796 !important;
}

.menu {
  position: relative !important;
  top: 0;
  width: 100%;
  padding: 0;
}

/* Ícono de usuario */
.user-icon:hover {
  content: url("/user-hover.png");
}

/* Dispositivos Móviles */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  .nav-link {
    margin-bottom: 0.5rem;
  }

  .user-icon {
    margin-top: 1rem;
  }
}
