.d-block.form-label h4 {
  color: white !important;
}

.botones {
  display: flex;
}

.botones button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
  margin-left: 0.2rem;
  margin-top: 0.6rem;
}

.calendar-container {
  position: absolute; /* Posiciona el calendario sin afectar el flujo del contenedor */
  z-index: 999; /* Asegura que el calendario se muestre por encima de otros elementos */
  top: 100%; /* Posiciona el calendario debajo del campo de fecha */
  left: 0; /* Alinea el calendario con el borde izquierdo del contenedor */
  width: 100%; /* Asegura que el calendario tenga el mismo ancho que el input */
}
