.contenedor-contacto {
  background-image: linear-gradient(to right, rgba(215, 198, 189, 0.2), rgba(238, 214, 214, 0.2)),url('src/assets/img/imgContacto/contacto-banner.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center 60%;
height: 90vh;
transition: background-position 0.3s ease-out;
}

.contenedor-contacto h1 {
  font-size: 5em;
  padding-top: 5%;
  margin-bottom: 3%!important;
}

.contenedor-contacto p {
  font-size: 1.5em;
  padding-top: 0!important;
  margin-top: 0!important;
  padding-bottom: 3%;
}

