.container-datos {
 margin-left: 0!important;
position: static;

}

.dato {
  background-color: #ebebeb;
  padding: 2%;
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.panel {
 position: static;
 height: auto;
 background-color: #293E44;

}

.contenido-cliente {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 5%;
}
