

.panel {
 position: static;
 height: auto;
 background-color: #293E44;

}

.contenido-cliente {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 5%;
}

@media (max-width: 913px) {
  .container-datos {
    --bs-gutter-x: 0 !important; 
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .dato {
    padding: 2% !important; 
  }

  .panel {
    position: static;
    height: auto;
    background-color: #293E44;
  }

  .contenido-cliente {
    margin-left: 0 !important; /* Elimina el margen izquierdo */
    margin-top: 2%;
    margin-bottom: 5%;
  }
}