.cabecera {
  position: relative;
  background-image: linear-gradient(to right, rgba(215, 198, 189, 0.2), rgba(238, 214, 214, 0.2)), url('src/assets/img/imgInicio/cabecera-index.jpg');
  background-size: 120%; /* Usamos 120% para pantallas grandes */
  background-position: center top; /* Mantén la imagen centrada al principio */
  height: 90vh;
  transition: background-position 0.5s ease-out;
}

header h1 {
  font-size: 10vw;
}

header h2 {
  font-size: 5vw;
}

header .h2-white {
  font-size: 5vw;
}

header .col-8 {
  padding-left: 5em;
  padding-top: 6em;
}

/* Dispositivos móviles */
@media (max-width: 768px) {
  .cabecera {
    background-size: cover; 
    background-position: center center;
  }

  header h1 {
    font-size: 5rem !important;
  }

  header h2,
  header .h2-white {
    font-size: 2.5rem !important;
  }
}
