@media screen and (max-width: 500px){
    .container{
        padding-top:100px;
        align-items: start;
    }
}
@media screen and (min-width:501px){
    .container{
        align-items:center;
        padding-bottom:15%; 
    }
}
@media screen and (min-width:500px) and (min-height:500px){
    .container{
        align-items:center;
        padding-bottom:15%;
    }
}
