@font-face {
  font-family:"Holly-Jolly";
  src: url('./assets/fonts/Holly-Jolly.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family:"Petrona-Regular";
  src: url('./assets/fonts/Petrona-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family:"Petrona-SemiBold";
  src: url('./assets/fonts/Petrona-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

body, html {
margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #FEFDFC;
}

h1 {
  color: #293E44;
  font-family: "Holly-Jolly";
  font-size: 3rem;
  margin-bottom: 3%!important;
}

.h1-white {
    color: #ffffff;
  font-family: "Holly-Jolly";
  font-size: 3rem;
    margin-bottom: 3%;
}

hr {
  color: rgb(117, 150, 150);
}

h2 {
  color: #293E44;
  font-family: "Petrona-SemiBold";
  font-size: 5rem;
    margin-bottom: 3%;
}

.h2-white {
  color: white;
    font-family: "Petrona-SemiBold";
    font-size: 5rem;
      margin-bottom: 3%;
}

h3 {
    color: #293E44;
  font-family: "Petrona-Regular";
    font-size: 1.7rem;
  margin-top: 0.5em;
  margin-bottom: 3%;
}

.h3-white {
    color: white;
  font-family: "Petrona-Regular";
    font-size: 1.7rem;
    margin-top: 0.5em;
      margin-bottom: 3%;
}

h4 {
     color: #293E44;
  font-family: "Petrona-Regular";
   font-size: 1.2rem;
     margin-bottom: 3%;
}

.h4-white {
     color: #ffffff;
  font-family: "Petrona-Regular";
    font-size: 1.2rem;
      margin-bottom: 3%;
}

.btn {
background-color: #528796;
font-family: "Petrona-Regular";
color: white;
font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.btn:hover {
  background-color: #396672;
  color: white;
}

p {
font-family: "Petrona-Regular";
color: #434343;
margin-top: 3%;
margin-bottom: 3%;
font-size: 1.1em;
}

.p-white {
font-family: "Petrona-Regular";
color: white;
margin-top: 3%;
margin-bottom: 3%;
font-size: 1.1rem;
}

img {
  border-radius: 20px;
}

.terminos {
  padding-bottom: 5%;
}

.terminos h1 {
  font-size: 4em;
  margin-top: 5%;
}

.terminos h2 {
  font-size: 1.5em;
  padding-top: 2%;
}

.terminos p {
    margin-top: 0!important;
    padding-bottom: 2%;
}











